table {
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
}

form {
    display: flex;
}

.input_column {
    display: flex;
    flex-direction: column;
}

input {
    margin: 1px;
    width: 100px;
}
